<a href="https://colab.research.google.com/github/Ishanisaha/Applied-Machine-Learning-in-Python/blob/master/Another_copy_of_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Python Basics***

***Python Indentation***

In [1]:
if 5==5 :
 print("5 is equal to 5")

5 is equal to 5

Incorrect Indentation :

In [3]:
if 5==5 :
print("5 is equal to 5")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-3-73e449793df9>, line 2)

***Printing in Python***

In [8]:
print("Hello")
print('Hi')
print(5)
print('''Hello
Hi
5''')

Hello
Hi
5
Hello
Hi
5

***Comments in Python***

In [9]:
# This is a Python Code
print("Hello World!")

"""This is a Python Code
and this is my first python file"""
print("Hi")

Hello World!
Hi

***Variables in Python***

In [20]:
age=20
name="John"
pi=3.14
my_last_name="Doe"
a,b,c=1,"red",2.25
print('\n',age,'\n',name,'\n',pi)
print(my_last_name)
print(a,b,c)

 20
 John
 3.14
Doe
1 red 2.25

Unpacking a collection of values / Unpacking a list

In [16]:
colors=["Red","Green","Blue"]
r,g,b=colors
print(colors)

['Red', 'Green', 'Blue']

***Datatypes in Python***

In [ ]:
age=20               #integer
name="John"          #string
pi=3.14              #float
is_online=True       #bool. can have values either True or False
x=5j                 #complex
colors=["Red","Green","Blue"]    #list
colors1=("Red","Green","Blue")    #tuple
a=range(6)       #range
print(age,name,pi,is_online,x,colors,colors1,a)

20 John 3.14 True 5j ['Red', 'Green', 'Blue'] ('Red', 'Green', 'Blue') range(0, 6)

***Concatenation***

In [ ]:
a="John"

print("Hello "+a)

Hello John

***Receiving input from the user***

In [ ]:
name=input("Enter your name ")
print("Hello "+name)

Enter your name abc
Hello abc

***Type Conversion***

Various type conversion functions are : int(), float(), str(), bool()

In [ ]:
birth_year=input("Enter your birth year to calculate your age : ")
age=2021-int(birth_year)
print(age)

Enter your birth year to calculate your age : 1990
31

type() function

In [ ]:
x=5
y=2.65
z="abc"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

Exercise : WAP in Python for addition of two nos wherein the nos are taken input from the user.
Sample output :
No 1 : 2
No 2 : 5
Sum = 7

Case 1 : Both the numbers are integers
Case 2 : Either no is an interger and the other no is float

In [ ]:
no1=int(input("Enter number 1 : "))
no2=int(input("Enter number 2 : "))
sum=no1+no2
print ("Sum : " + str(sum))

Enter number 1 : 5
Enter number 2 : 3
Sum : 8

***Operators in Python***

Arithmetic Operators : + - * / % // **   
Augmented Arithmetic operators : += -= *= /= %= //= **= &= |=
Comparison Operators : == != > < >= <=
Bitwise operators : & | ^ ~ << >>
Logical Operators : and or not
Membership operators : in    not in
Identity operators : is     not is

In [ ]:
x=["red", "green"]
print("red" not in x)

False

In [ ]:
x=[1,2,3]
y=[1,2,3]
z=x
print(x is not z)
print(x is not y)
print(x!=y)

False
True
False

***Loops in Python***

If Loops

In [ ]:
temp=35
if temp>30:
  print(" It's a hot day")
elif temp>20:
  print("It's a nice day")
elif temp>10:
  print("It's pleasant")
else:
  print("It's cold")
print("Bye")

 It's a hot day
Bye

In [ ]:
wt=float(input("Enter weight : "))
unit=input("(K)gs or (L)bs : ")
if unit=="K" or unit=='k':
 convert=wt/0.45
 print("Weight in Lbs : "+ str(convert))
else:
  convert=wt*0.45
  print("Weight in Kgs : "+ str(convert))

Enter weight : 170
(K)gs or (L)bs : l
Weight in Kgs : 76.5

While Loops

In [ ]:
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
i=1
while i<=5:
  print(i * '*')
  i=i+1

*
**
***
****
*****

For Loops

In [ ]:
nos = [1,2,3,4,5]
for i in nos:
  print(i)

1
2
3
4
5

In [ ]:
for i in "Hello world":
  print(i)

H
e
l
l
o

w
o
r
l
d

In [ ]:
for i in "Hello world":
  print(i)
else:
  print("Bye")

H
e
l
l
o

w
o
r
l
d
Bye

In [ ]:
nos = [1,2,3,4,5]
for i in nos:
  print(i)
  if i==3:
    break

1
2
3

In [ ]:
nos = [1,2,3,4,5]
for i in nos:
   if i==3:
    continue
   print(i)

1
2
4
5

In [ ]:
fname=["John", "Mary", "Joe"]
lname=["Doe", "Jane", "Ray"]
for i in fname:
  for j in lname:
    print(i,j)

John Doe
John Jane
John Ray
Mary Doe
Mary Jane
Mary Ray
Joe Doe
Joe Jane
Joe Ray

***Strings in Python***

In [ ]:
course="Intro to Python"
print(course)
print(len(course))
print(course[9])
print(course[2:7])
print(course[:3])
print(course[5:])
print(course[-5:-2])
print(course.upper())
print(course.lower())
print(course.find("y"))
print(course.find("Y"))
print(course.find("to"))
print(course.split())
print(course.index("Python"))
print(course.replace("Intro","Introduction"))
print(course)
print('Python' in course)
print('Python' not in course)

Intro to Python
15
P
tro t
Int
 to Python
yth
INTRO TO PYTHON
intro to python
10
-1
6
['Intro', 'to', 'Python']
9
Introduction to Python
Intro to Python
True
False

In [ ]:
course="   Intro to Python   "
print(course.strip())

Intro to Python

Format-Strings

In [ ]:
price=500
prod="The price of the book is" + price
print(prod)

TypeError: ignored

In [ ]:
price=500
prod="The price of the book is {}"
print(prod.format(price))

The price of the book is 500

In [ ]:
price=500
quantity=20
total=10000
prod="The price of the book is {}. Hence for {} copies the total price comes to {}."
print(prod.format(price,quantity,total))

The price of the book is 500. Hence for 20 copies the total price comes to 10000.

In [ ]:
price=500
quantity=20
total=10000
prod="The total price for {1} books will be {2} as per the cost of {0} rupees per book."
print(prod.format(price,quantity,total))

The total price for 20 books will be 10000 as per the cost of 500 rupees per book


***Lists in Python***

In [ ]:
colors=["Red","Green","Blue","Yellow","Orange"]
print(colors)
print(len(colors))
print(colors[0])
print(colors[-2])
print(colors[0:3])
print(colors[3:])
print(colors[:3])
colors[0]="Pink"
print(colors)
colors[1:3]=["Black","White"]
print(colors)
colors[1:2]=["Grey","Purple"]
print(colors)
colors[1:3]=["Blue"]
print(colors)

['Red', 'Green', 'Blue', 'Yellow', 'Orange']
5
Red
Yellow
['Red', 'Green', 'Blue']
['Yellow', 'Orange']
['Red', 'Green', 'Blue']
['Pink', 'Green', 'Blue', 'Yellow', 'Orange']
['Pink', 'Black', 'White', 'Yellow', 'Orange']
['Pink', 'Grey', 'Purple', 'White', 'Yellow', 'Orange']
['Pink', 'Blue', 'White', 'Yellow', 'Orange']

List Constructor

In [ ]:
nos=list((1,2,3,4,5))
print(nos)
nos.insert(0,-1)
print(nos)
nos.append(6)
print(nos)
nos.remove(3)
print(nos)
nos.pop(3)
print(nos)
print(1 in nos)
print(10 in nos)
nos.clear()
print(nos)
del nos

even=[2,4,6,8]
odd=[1,3,5,7,9]
even.extend(odd)
print(even)

[1, 2, 3, 4, 5]
[-1, 1, 2, 3, 4, 5]
[-1, 1, 2, 3, 4, 5, 6]
[-1, 1, 2, 4, 5, 6]
[-1, 1, 2, 5, 6]
True
False
[]
[2, 4, 6, 8, 1, 3, 5, 7, 9]

Looping through the Lists

In [ ]:
nos=[1,2,3,4,5]
for x in nos:
 print(x)

1
2
3
4
5

*Looping through index numbers*

In [ ]:
nos=[1,2,3,4,5]
for x in nos(len(nos)-1):
 print(nos[x])

TypeError: ignored

*List Comprehension*

Syntax : newlist=[expression for item in oldlist if condition==True]

In [ ]:
nos=[1,2,3,4,5]
for x in nos:
 print(x)

 # List Comprehension
[print(x) for x in nos]

1
2
3
4
5
1
2
3
4
5

[None, None, None, None, None]

In [ ]:
colors=["Red","Green","Blue","Yellow","Orange"]
colors1=[]
for x in colors:
  if "a" in x:
    colors1.append(x)
print(colors1)

colors=["Red","Green","Blue","Yellow","Orange"]
[print(x) for x in colors if "a" in x]

[print(x) for x in colors if x!="Yellow"]

['Orange']
Orange
Red
Green
Blue
Orange

[None, None, None, None]

Sorting the Lists

In [ ]:
colors=["Red","Green","Blue","Yellow","Orange"]
nos=[1,2,3,4,5]

colors.sort()
print(colors)
nos.sort()
print(nos)

colors.sort(reverse=True)
print(colors)
nos.reverse()
print(nos)

['Blue', 'Green', 'Orange', 'Red', 'Yellow']
[1, 2, 3, 4, 5]
['Yellow', 'Red', 'Orange', 'Green', 'Blue']
[5, 4, 3, 2, 1]

Copying the Lists

In [ ]:
nos=[1,2,3,4,5]
num=nos.copy()
print(num)

num1=list(nos)
print(num1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

Joining the Lists

In [ ]:
# using extend method
even=[2,4,6,8]
odd=[1,3,5,7,9]
even.extend(odd)
print(even)

# using + operator
even=[2,4,6,8]
odd=[1,3,5,7,9]
nos=even + odd
print(nos)

# appending one list to another
ven=[2,4,6,8]
odd=[1,3,5,7,9]
for x in odd:
  even.append(x)
print(even)

[2, 4, 6, 8, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 1, 3, 5, 7, 9]

***Tuples in Python***

In [ ]:
nos=(1,2,3,3)
print(nos)
nos=tuple((1,2,3,4,5))    #using tuple constructor
print(nos)
print(nos.count(3))
print(nos.index(3))
print(len(nos))
print("\n")

#tuple elements can be accessed using index numbers

print(nos[1])
print(nos[-2])
print(nos[2:4])
print(nos[:3])
print(nos[3:])
print(nos[-4:-1])
print(3 in nos)
print(3 not in nos)

(1, 2, 3, 3)
(1, 2, 3, 4, 5)
1
2
5


2
4
(3, 4)
(1, 2, 3)
(4, 5)
(2, 3, 4)
True
False

Updating Tuples

In [ ]:
colors=("Red","Green","Blue")
colors[1]="Yellow"
print(colors)

TypeError: ignored

In [ ]:
# Convert tuple to list, update it and convert list back to tuple

colors=("Red","Green","Blue")
print(colors)
colorlist=list(colors)
colorlist[1]="Yellow"
colors=tuple(colorlist)
print(colors)

('Red', 'Green', 'Blue')
('Red', 'Yellow', 'Blue')

Adding Elements to Tuple

In [ ]:
# Method 1 : Convert tuple to a list

colors=("Red","Green","Blue")
print(colors)
colorlist=list(colors)
colorlist.append("White")
colors=tuple(colorlist)
print(colors)
print("\n")

# Method 2 : Add tuple to a tuple

colors=("Red","Green","Blue")
print(colors)
color1=("White",)
colors+=color1
print(colors)

('Red', 'Green', 'Blue')
('Red', 'Green', 'Blue', 'White')


('Red', 'Green', 'Blue')
('Red', 'Green', 'Blue', 'White')

Removing Elements from a tuple

In [ ]:
# Convert tuple to list, delete the element and convert list back to tuple

colors=("Red","Green","Blue")
print(colors)
colorlist=list(colors)
colorlist.remove("Green")
colors=tuple(colorlist)
print(colors)

('Red', 'Green', 'Blue')
('Red', 'Blue')

Deleting a Tuple

In [ ]:
colors=("Red","Green","Blue")
del colors
print(colors)

NameError: ignored

Packing and Unpacking a Tuple

In [ ]:
nos=(1,2,3,4,5)     # creating a tuple is known as Packing a tuple
(n1,n2,n3,n4,n5)=nos
print(n1)
print(n2)
print(n3)
print(n4)
print(n5)

1
2
3
4
5

In [ ]:
nos=(1,2,3,4,5)
(n1,n2,*n3)=nos
print(n1)
print(n2)
print(n3)

1
2
[3, 4, 5]

In [ ]:
nos=(1,2,3,4,5)
(n1,*n2,n3)=nos
print(n1)
print(n2)
print(n3)

1
[2, 3, 4]
5

Looping through Tuples

In [ ]:
#using for loop

nos=(1,2,3,4,5)
for i in nos:
  print(i)
print("\n")

# using while loop

nos=(1,2,3,4,5)
i=0
while i<len(nos):
  print(nos[i])
  i=i+1

1
2
3
4
5


1
2
3
4
5

***Sets in Python***

In [ ]:
colors={"Red","Green","Blue","Red"}
print(colors)

{'Green', 'Red', 'Blue'}

In [ ]:
#using set() constructor

nos=set((1,2,3,4,5))
print(nos)

{1, 2, 3, 4, 5}

Accessing Set Elements

In [ ]:
nos={1,2,3,4,5}
for i in nos:
 print(i)
print(3 in nos)

1
2
3
4
5
True

Adding Elements to a Set

In [ ]:
# method 1 : using add() method
colors={"Red","Green","Blue"}
colors.add("Yellow")
print(colors)

# Method 2 : using update() method
colors={"Red","Green","Blue"}
colors1=("Yellow",)
colors.update(colors1)
print(colors)

{'Yellow', 'Green', 'Red', 'Blue'}
{'Yellow', 'Green', 'Red', 'Blue'}

Removing Elements from a Set

In [ ]:
# remove() method

nos={1,2,3,4,5}
nos.remove(3)
print(nos)

# discard() method

nos={1,2,3,4,5}
nos.discard(3)
print(nos)

# pop() method

nos={1,2,3,4,5}
i=nos.pop()
print(i)
print(nos)

# clear() method

nos={1,2,3,4,5}
nos.clear()
print(nos)

# del

nos={1,2,3,4,5}
del nos
print(nos)

{1, 2, 4, 5}
{1, 2, 4, 5}
1
{2, 3, 4, 5}
set()

NameError: ignored

Looping through Sets

In [ ]:
nos={1,2,3,4,5}
for i in nos:
  print(i)

1
2
3
4
5

Joining the Sets

In [ ]:
# union() method

even={2,4,6,8}
odd={1,3,5,7,9}
nos=even.union(odd)
print(nos)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# update() method

nos1={1,2,3}
nos2={4,5,6}
nos1.update(nos2)
print(nos1)

{1, 2, 3, 4, 5, 6}

In [ ]:
# intersection() method

nos1={1,2,3,4,5}
nos2={4,5,6,7,8}
nos=nos1.intersection(nos2)
print(nos)

{4, 5}

In [ ]:
# intersection_update() method

nos1={1,2,3,4,5}
nos2={4,5,6,7,8}
nos1.intersection_update(nos2)
print(nos1)

{4, 5}

In [ ]:
# difference() method

nos1={1,2,3,4,5}
nos2={4,5,6,7,8}
nos=nos2.difference(nos1)
print(nos)

{8, 6, 7}

In [ ]:
# symmetric_difference() method

nos1={1,2,3,4,5}
nos2={4,5,6,7,8}
nos=nos2.symmetric_difference(nos1)
print(nos)

{1, 2, 3, 6, 7, 8}

In [ ]:
# symmetric_difference_update() method

nos1={1,2,3,4,5}
nos2={4,5,6,7,8}
nos1.symmetric_difference_update(nos2)
print(nos1)

{1, 2, 3, 6, 7, 8}

***Dictionaries in Python***

In [ ]:
colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "rainbow": 7,
  "rainbowcolors": ["V","I","B","G","Y","O","R"]
}
print(colors)
print(colors["rainbow"])
print(len(colors))

{'color1': 'Red', 'color2': 'Green', 'color3': 'Blue', 'rainbow': 7, 'rainbowcolors': ['V', 'I', 'B', 'G', 'Y', 'O', 'R']}
7
5

Accessing the Dictionary Elements

In [ ]:
# using key name

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "rainbow": 7,
  "rainbowcolors": ["V","I","B","G","Y","O","R"]
}
x=colors["color2"]
print(x)

Green

In [ ]:
# using get() method

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "rainbow": 7,
  "rainbowcolors": ["V","I","B","G","Y","O","R"]
}
x=colors.get("color3")
print(x)

Blue

In [ ]:
# using keys() method all the keys in the dictionary can be retrieved

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "rainbow": 7,
  "rainbowcolors": ["V","I","B","G","Y","O","R"]
}
print(colors.keys())

dict_keys(['color1', 'color2', 'color3', 'rainbow', 'rainbowcolors'])

In [ ]:
# using values() method all the values in the dictionary can be retrieved

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "rainbow": 7,
  "rainbowcolors": ["V","I","B","G","Y","O","R"]
}
print(colors.values())

dict_values(['Red', 'Green', 'Blue', 7, ['V', 'I', 'B', 'G', 'Y', 'O', 'R']])

In [ ]:
# items() method will return each key value pair in a dictionary, as tuples in a list

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "rainbow": 7,
  "rainbowcolors": ["V","I","B","G","Y","O","R"]
}
print(colors.items())

dict_items([('color1', 'Red'), ('color2', 'Green'), ('color3', 'Blue'), ('rainbow', 7), ('rainbowcolors', ['V', 'I', 'B', 'G', 'Y', 'O', 'R'])])

In [ ]:
# using in and not in operator in dictionaries

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "rainbow": 7,
  "rainbowcolors": ["V","I","B","G","Y","O","R"]
}
print("rainbow" in colors)
print("rainbow" not in colors)

True
False

Changing Elements in Dictionary

In [ ]:
# Method 1 : changing specific key value pair by specifying the key name

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "rainbow": 7,
  "rainbowcolors": ["V","I","B","G","Y","O","R"]
}
colors["color2"]="Yellow"
print(colors)

# using update() method

colors.update({"color1":"White"})
print(colors)

{'color1': 'Red', 'color2': 'Yellow', 'color3': 'Blue', 'rainbow': 7, 'rainbowcolors': ['V', 'I', 'B', 'G', 'Y', 'O', 'R']}
{'color1': 'White', 'color2': 'Yellow', 'color3': 'Blue', 'rainbow': 7, 'rainbowcolors': ['V', 'I', 'B', 'G', 'Y', 'O', 'R']}

Adding Elements in Dictionary

In [ ]:
# by adding new key and value

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue"
}
colors["color4"]="Magenta"
print(colors)

# by using update() method

colors.update({"color5":"Pink"})
print(colors)

{'color1': 'Red', 'color2': 'Green', 'color3': 'Blue', 'color4': 'Magenta'}
{'color1': 'Red', 'color2': 'Green', 'color3': 'Blue', 'color4': 'Magenta', 'color5': 'Pink'}

Removing Elements from Dictionary

In [ ]:
# using pop() method that removes the element specified with the key name

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "color4": "Magenta",
  "color5": "Pink"
  }
colors.pop("color4")
print(colors)

# using popitem() method that removes the last inserted item

colors.popitem()
print(colors)

# using del keyword to delete an element specified by the key name

del colors["color1"]
print(colors)

# using clear() method that clears the contents of the dictionary

colors.clear()
print(colors)

# del is also used to delete the dictionary completely

del colors
print(colors)

{'color1': 'Red', 'color2': 'Green', 'color3': 'Blue', 'color5': 'Pink'}
{'color1': 'Red', 'color2': 'Green', 'color3': 'Blue'}
{'color2': 'Green', 'color3': 'Blue'}
{}

NameError: ignored

Looping through a Dictionary (using for loop)

In [ ]:
colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "color4": "Magenta",
  "color5": "Pink"
  }

# while looping, default return values are keys of the dictionary

for i in colors:
  print(i)
print("\n")

# to return values in the dictionary

for i in colors:
  print(colors[i])

color1
color2
color3
color4
color5


Red
Green
Blue
Magenta
Pink

In [ ]:
# Method 2 using keys() and values() methods

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "color4": "Magenta",
  "color5": "Pink"
  }

# while looping, default return values are keys of the dictionary

for i in colors.keys():
  print(i)
print("\n")

# to return values in the dictionary

for i in colors.values():
  print(i)

color1
color2
color3
color4
color5


Red
Green
Blue
Magenta
Pink

In [ ]:
# Both keys and values can be looped together using items() method

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "color4": "Magenta",
  "color5": "Pink"
  }

for i,j in colors.items():
  print(i,j)

color1 Red
color2 Green
color3 Blue
color4 Magenta
color5 Pink

Copying a Dictionary

In [ ]:

 # using copy() method

 colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "color4": "Magenta",
  "color5": "Pink"
  }
colors1=colors.copy()
print(colors1)
print("\n")

# using dict() function

colors =	{
  "color1": "Red",
  "color2": "Green",
  "color3": "Blue",
  "color4": "Magenta",
  "color5": "Pink"
  }
colors1=dict(colors)
print(colors1)

{'color1': 'Red', 'color2': 'Green', 'color3': 'Blue', 'color4': 'Magenta', 'color5': 'Pink'}


{'color1': 'Red', 'color2': 'Green', 'color3': 'Blue', 'color4': 'Magenta', 'color5': 'Pink'}

Nested Dictionaries

In [ ]:
mycars= {
    "car1" : {
        "Name" : "Honda Amaze",
        "Model" : 2021
    },
    "car2" : {
        "Name" : "Kia Seltos",
        "Model" : 2022
    },
    "car3" : {
        "Name" : "Tata Nexon",
        "Model" : 2020
    }
}
print(mycars)

{'car1': {'Name': 'Honda Amaze', 'Model': 2021}, 'car2': {'Name': 'Kia Seltos', 'Model': 2022}, 'car3': {'Name': 'Tata Nexon', 'Model': 2020}}

In [ ]:
car1 = {
        "Name" : "Honda Amaze",
        "Model" : 2021
    }
car2 = {
        "Name" : "Kia Seltos",
        "Model" : 2022
    }
car3 = {
        "Name" : "Tata Nexon",
        "Model" : 2020
    }
mycars={
    "mycar1" : car1,
    "mycar2" : car2,
    "mycar3" : car3
}

print(mycars)

{'mycar1': {'Name': 'Honda Amaze', 'Model': 2021}, 'mycar2': {'Name': 'Kia Seltos', 'Model': 2022}, 'mycar3': {'Name': 'Tata Nexon', 'Model': 2020}}

# ***Python Functions***

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

***def*** keyword is used to define a function in python

In [ ]:
def func():                       # function definition
  print("This is a function")

func()                           # function call

This is a function

In [ ]:
# function with single argument

def func(cname):
  print("Honda " + cname)

func("Amaze")
func("City")
func("Jazz")

Honda Amaze
Honda City
Honda Jazz

In [ ]:
# function with multiple arguments

def func(company, cname):
  print(company + " " + cname)

func("Honda", "Amaze")
func("Tata", "Nexon")
func("MG", "Hector")

Honda Amaze
Tata Nexon
MG Hector

In [ ]:
# function with arbitrary arguments.
# If the number of arguments is unknown, add a * before the parameter name. The function will receive a tuple of arguments

def func(*cars):
  print("My favorite car is " + cars[2])

func("Honda Amaze", "Tata Nexon", "MG Hector")

My favorite car is MG Hector

In [ ]:
# function with Default Parameter Value.
# If we call the function without argument, it uses the default value

def func(cname = "BMW"):
  print("I have a " + cname + " car")

func("Honda Amaze")
func("Tata Nexon")
func()

I have a Honda Amaze car
I have a Tata Nexon car
I have a BMW car

In [ ]:
# Passing a List as an Argument

def func(cars):
  for i in cars:
    print("I have " + i + " car")

cnames = ["Honda Amaze", "Tata Nexon", "MG Hector"]

func(cnames)

I have Honda Amaze car
I have Tata Nexon car
I have MG Hector car

Return Values

In [ ]:
# Return Value using return statement

def func(x):
  return x + 10

print(func(5))
print(func(10))
print(func(9))

15
20
19

In [ ]:
# function definitions cannot be empty. For a function definition with no content, include the pass statement to avoid getting an error.
def func():
  pass

Recursion

In [ ]:
def fact(n):
   if n == 1:
       return n
   else:
       return n*fact(n-1)

num=input("Enter the number : ")
n = int(num)

# check if the number is negative
if n < 0:
   print("Invalid input")
elif n == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of " + num + " is", fact(n))

Enter the number : 5
The factorial of 5 is 120